# Database
psycopg2-binary
Flask
Flask-Cors
Flask-SQLAlchemy

# NLP & Matching
sentence-transformers
spacy
numpy

# File Parsing
pdfplumber
python-docx

# System Monitoring
psutil

# Utilities
python-dotenv
Werkzeug
