# Flask
Flask
Flask-Cors
Flask-SQLAlchemy


# NLP & Matching
spacy
numpy

# File Parsing
pdfplumber
python-docx

# LLM (Optional)


# System Monitoring
psutil

# Utilities
python-dotenv
Werkzeug

# Frontend

